<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :título %>
    <br/>
    <%= f.text_area :title, :rows => 2, :class => "form-control", :required => true %>
  </div>

  <div class="field">
    <%= f.label :bajada_de_título %>
    <br/>
    <%= f.text_area :descent, :class => "form-control", :maxlength => 250, :required => true %>
  </div>

  <div class="field">
    <%= f.label :cuerpo %>
    <br/>
    <%= f.text_area :body, :rows => 7, :class => "form-control", :required => true %>
  </div>

  <div class="actions">
    <%= f.submit :Aceptar, class: 'btn btn-success pull-right' %>
  </div>
<% end %>
