<p id="notice"><%= notice %></p>

<style>
h1 {
  display: inline-block;
}
.label-as-badge {
    border-radius: 1em;
}
.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}
</style>

<p id="notice"><%= notice %></p>

<div class="container">
<%= link_to 'Nueva noticia', new_post_path , :class => "btn btn-lg btn-primary btn-block" %>
</div>

<% @posts.each do |post| %>
<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1><%= post.title %></h1> <span class="label label-primary label-as-badge lb-md"><%= post.comments.count %></span>
    <h3><%= post.descent %></h3>
    <h4>
      <% if post.body.length > 1000 %>
        <%= truncate(post.body, :length => 1000, :separator => ' ') %>
      <% else %>
        <%= post.body %>
      <% end %>
    </h4>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

</div> <!-- /container -->

<% end %>
