<style>
h1 {
  display: inline-block;
}
.label-as-badge {
    border-radius: 1em;
}
.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}
</style>

<div class="container">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Nueva noticia', new_post_path , :class => "btn btn-lg btn-primary pull-right" %>
</div>

<br/>

<% @posts.each do |post| %>
<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1><%= post.title %></h1> <span class="label label-primary label-as-badge lb-md"><%= post.comments.count %></span>
    <h3><%= post.descent %></h3>
    <h4>
      <% if post.body.length > 1000 %>
        <%= truncate(post.body, :length => 1000, :separator => ' ') %>
      <% else %>
        <%= post.body %>
      <% end %>
    </h4>
    <br/>
    <%= link_to 'Ver noticia', post, :class => "btn btn-md btn-primary pull-right" %>
    <%= link_to 'Editar', edit_post_path(post), :class => "btn btn-md btn-warning pull-right" %>
    <%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Estás seguro/a de que deseas eliminar esta noticia?' }, :class => "btn btn-md btn-danger pull-right" %>
  </div>

</div> <!-- /container -->

<% end %>
