<style>
h1 {
  display: inline-block;
}
.label-as-badge {
    border-radius: 1em;
}
.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}
</style>

<% @posts.each do |post| %>
<div class="container">

  <p id="notice"><%= notice %></p>
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1><%= post.title %></h1> <span class="label label-primary label-as-badge lb-md"><%= post.comments.count %></span>
    <h3><%= post.descent %></h3>
    <h4>
      <% if post.body.length > 1000 %>
        <%= truncate(post.body, :length => 1000, :separator => ' ') %>
      <% else %>
        <%= post.body %>
      <% end %>
    </h4>
    <h5 style="color:gray" align="right"><%= post.created_at.strftime("%d/%m/%Y a las %H:%M") %></h5>
    <p>
      <%= link_to 'Ver noticia »', post, :class => "btn btn-lg btn-primary" %>
    </p>
  </div>

</div> <!-- /container -->

<% end %>
